  /* GENERALI */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.clearfix:after {
  content: '';
  display: table;
  clear: both;
}

.float-left{
  float: left;
}

body{
  background-color: #0C325A ;
  min-width: 1800px;
}


header{
  background-color: #0C325A ;
}

.container-section{
  width: 80%;
  margin: auto;
}

  /* GENERALI HEADER  */

.container-header{
  height: 550px;
  width: 80%;
  margin: auto;
}

  /* GENERALI MENU  */



.container-header .container-menu{
  
  width: 100%;
}

/* LOGO  */

.logo{
  width: 10%;
  margin-right: 50px;

}

  /* LISTE  */

.prima-lista, .seconda-lista{
  list-style: none;
  margin-top: 26px;
}

ul li {
  display: inline-block;
  margin-right: 20px;
  text-transform: uppercase;
}

ul li a{
  line-height: 50px;
  text-align: center;
  color: white ;
  text-decoration: none;
}

.prima-lista{
  width: 50%;
}

.seconda-lista{
  width: 33%;
}

  /* BOTTONI */

.btn-green{
  width: 30%;
  border: 2px solid black;
  background-color: #7CBB04;
  border-radius: 5px;
  text-align: center;
}

.btn-white{
  width: 20%;
  border: 2px solid;
  color: white;
  border-radius: 5px;
  text-align: center;
}  

  /* IMMAGINE SFONDO */

.container-img{
  position: relative;
  width: 100%;
  height: 470px; 
  background-image: url(../img/background-header.png);
  background-size: auto;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 100% 100%;
  
}  

  /* SCRITTE BANNER */

.titolo{
  position: absolute;
  width: 40%;
  left: 0%;
  top: 30%;
  font-size: 150%;
  color: white;
}

span a{
  position: absolute;
  text-decoration: none;
  padding: 10px 10px;
  top: 130%;
  color: white;
}

  /* MAIN  */

main{
  background-color: white;
}

main .uguale-footer{
  position: relative;
  width: 100%;
  height: 100px;
  background-color: #D3D3D3;
  text-align: center;
}

.uguale-footer h1{
  position: absolute;
  font-size: 25px;
  line-height: 50px;
  top: 20px;
  left: 40%;
}

.uguale-footer p{
  position: absolute;
  top: 60px;
  left: 38%;
  font-size: 18px;
}

  /* SEZIONE 3 CONTAINER FLOATTANTI SUPERIORE */

.contenitore{
  width: 33.3%;
  height: 700px;
  position: relative;
}
  
.container-float .foto{
  position: absolute;
  width: 20%;
  
  left: 36%;
  top: 10%;
}  

.container-float .foto2{
  position: absolute;
  width: 30%;
  left: 36%;
  top: 10%;
}

.container-float h1{
  width: 70%;
  position: absolute;
  top: 40%;
  left: 15%;
  text-align: center;
  font-size: 30px;
  color: #7CBB04;
}

.linea{
  position: absolute;
  width: 20%;
  border-top: 1px solid black ;
  margin: auto;
  left: 36%;
  top: 60%;
}  

.container-float p{
  width: 60%;
  position: absolute;
  top: 70%;
  left: 20%;
  font-size: 22px;
}